# requirements.txt
fastapi
uvicorn
sqlalchemy
psycopg2-binary
pytest
alembic
python-jose
passlib
python-multipart
redis
python-dotenv
fastapi-cache2
loguru
bcrypt
httpx
pydantic-settings
pydantic
email-validator
